<div class="contenedor-advertisement container-fluid p-0 text-center shadow-lg">
  <!-- <div class="justify-content-end w-100 pt-1 pr-2 text-right">
    <a type="button" class="fa fa-times" href="#" onclick="close()"></a>
  </div> -->
  <div class="container pb-3 pt-3 text-center">
    <div class="advertisement-tittle mb-1">
      <span>NOSOTROS <i class="fa fa-paw"></i> LAS MASCOTAS</span>
    </div>
    <div class="advertisement-subtittle">
      <span>TRAE LA TUYA</span>
    </div>
  </div>
</div>
<script>
  function close() {
    document.querySelector("contenedor-advertisement").style.display = "none";
  }
</script>
