<div class="container">
  <div class="row my-4">
    <div class="col" *ngIf="datos?.id">
      <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-6 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0 text-primary">{{ datos.name }}</h3>
          <div class="mb-1 text-muted">
            <b>Sinopsis:{{ datos.sinopsis }} </b>
          </div>
          <p class="card-text mb-auto">
            <b>Clasificación:{{ datos.clasificacion.descripcion }} </b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
