<div class="contenedor-inicio container-fluid p-0">
  <div class="p-0 seccion1-inicio">
    <div class="overlay"></div>
    <div class="d-flex flex-column text-center">
      <h5 class="s1-subtitle">
        Mantenimiento de Productos
      </h5>
      <span class="s1-title mt-3 mb-5">ADMINISTRADOR SUNSET CINEMA</span>
    </div>
  </div>
</div>

<div class="contenedor-inicio container-fluid m-auto text-center pt-5 pb-5">
  <div class="seccion2-inicio container d-flex flex-column">
    <div class="listado-container mt-5">
      <table class="table table-striped">
        <thead class="thead-style">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Tipo de Producto</th>
            <th scope="col">Clasificaciones</th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of datos" class="trow-style">
            <td class="td-name">{{ producto.name }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.tipoproducto.name }}</td>
            <td
              class="d-flex flex-column td-genero"
              *ngFor="let clasificacion of producto.clasifproductos"
            >
              <span>{{ clasificacion.name }} </span>
            </td>
            <td>{{ producto.precio }}</td>
            <td>
              <button
                type="button"
                class="btn bg-transparent"
                (click)="ActualizarProducto(producto.id)"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="crear-container text-right">
      <button
        type="button"
        class="btn btn-deshabilitadas"
        (click)="VerActivos()"
      >
        <span>Productos Activos</span>
      </button>
    </div>
  </div>
</div>
