.seccion1-inicio {
  background-image: url("/assets/img/autocine1.jpg");
  background-size: cover;
  height: 500 px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.contenedor-inicio {
  user-select: none;
  display: table;
}

.s1-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7em;
  font-size: 36px;
  color: #fff;
  z-index: 10;
}

.s1-subtitle {
  font-family: Muli, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  letter-spacing: 10px;
  font-weight: bold;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

body {
  background-color: rgb(247, 247, 247);
}
.card {
  background-color: white;
}

.card-header span {
  font-size: 20px;
  font-family: "Century Gothic";
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}

.card-body span {
  font-size: 15px;
  color: #606060;
}
