<div class="contenedor-inicio container-fluid" style="padding-top: 10%;">
  <div class="row my-2">
    <div class="col-md-4 my-3" *ngFor="let peli of datos">
      <!-- Información de videojuegos -->
      <div class="card border-info mb-3">
        <div class="card-body">
          <h4 class="card-title">{{ peli.name }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ peli.sinopsis }}</h6>
          <p class="card-text">{{ peli.votopeliculas_count }}</p>
          <a
            class="btn btn-info"
            [routerLink]="['/pelicula/', peli.id]"
            routerLinkActive="active"
            >Información <i class="fas fa-info"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
