.seccion1-inicio {
  background-image: url("/assets/img/autocine2.jpg");
  background-size: contain;
  height: 595px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.contenedor-inicio {
  user-select: none;
  display: table;
}

.s1-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7em;
  font-size: 36px;
  color: #fff;
  z-index: 10;
}

.s1-subtitle {
  font-family: Muli, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  letter-spacing: 10px;
  font-weight: bold;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

body {
  background-color: rgb(247, 247, 247);
}
.card {
  background-color: white;
  user-select: none;
}

.card-header {
  max-height: 220px;
  overflow: hidden;
}

.card-body {
  font-family: "Century Gothic";
}

.card-body h5 {
  font-weight: bold;
  letter-spacing: 2px;
  color: #101010;
  text-transform: uppercase;
}

.card-body span {
  font-size: 15px;
  color: #606060;
}

.card-body p {
  font-size: 13px;
  padding: 1px 0;
  margin: 0 auto;
  color: #606060;
}

.fa-thumbs-up,
.fa-thumbs-down {
  color: #000;
}

.fa-thumbs-up:hover,
.fa-thumbs-down:hover {
  color: #606060;
}

.fa-trophy {
  color: #f4a261;
}

.votos {
  padding: 5px 10px;
  text-align: center;
}

.voto-count {
  color: #606060;
  font-family: "century gothic";
  user-select: none;
}
