<nav class="navbar navbar-expand-lg pt-3 pb-3">
  <a
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
  >
    <i class="fa fa-bars"></i>
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
      <img src="/assets/img/White Sunset Logo.png" />
    </a>
    <ul class="navbar-nav w-100 d-flex flex-row justify-content-end">
      <li class="nav-item">
        <a
          class="nav-link effect-underline"
          routerLink="/home"
          routerLinkActive="active"
          >INICIO</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link effect-underline" href="#">CARTELERA</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link effect-underline"
          routerLink="/pelicula"
          routerLinkActive="active"
          >PELICULAS</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link effect-underline" href="#">PRODUCTOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link effect-underline" href="#">CONTACTO</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link effect-underline"
          routerLink="/home/acerca"
          routerLinkActive="active"
          >ACERCA</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link effect-underline" href="#">REGISTRARSE</a>
      </li>
      <li class="nav-item">
        <a class="s1-button m-auto d-inline-block">INICIAR SESION</a>
      </li>
    </ul>
  </div>
</nav>
