<div class="contenedor-inicio container-fluid p-0">
  <div class="p-0 seccion1-inicio">
    <div class="overlay"></div>
    <div class="d-flex flex-column text-center">
      <h5 class="s1-subtitle">
        DISFRUTE DEL CINE DESDE LA COMODIDAD DE SU VEHICULO
      </h5>
      <span class="s1-title mt-3 mb-5">SUNSET CINEMA</span>
      <a class="s1-button ml-auto mr-auto d-inline-block">CARTELERA</a>
    </div>
  </div>
</div>

<div
  class="contenedor-inicio container-fluid m-auto text-center pt-5 pb-5 mt-5 mb-5"
>
  <div class="seccion2-inicio">
    <div class="row row m-auto">
      <div
        class="col-12 col-lg-4 pt-3 pb-3 articulo text-center d-flex flex-column"
      >
        <div class="contenedor-icon text-center">
          <i class="fas fa-sun"></i>
        </div>
        <h3>Amigable con el medio ambiente</h3>
        <p>
          Aprovechamos el incandescente poder de la energía solar para alimentar
          todos nuestros equipos, lo que nos permite tener una fuente eléctrica
          en todo momento, así no te perderas ni un solo segundo de tu anhelada
          película.
        </p>
      </div>
      <div
        class="col-12 col-lg-4 pt-3 pb-3 articulo text-center d-flex flex-column"
      >
        <div class="contenedor-icon text-center">
          <i class="fas fa-utensils"></i>
        </div>
        <h3>Servicio de Comidas</h3>
        <p>
          Contamos con servicio de comidas en todo momento. Con nosotros te
          podés dar el lujo de solicitar desde tu spot, nosotros nos encargamos
          del resto.
        </p>
      </div>
      <div
        class="col-12 col-lg-4 pt-3 pb-3 articulo text-center d-flex flex-column"
      >
        <div class="contenedor-icon text-center">
          <i class="fas fa-mountain"></i>
        </div>
        <h3>Vistas Asombrosas</h3>
        <p>
          Estamos ubicados en lugares específicos donde puedes disfrutar de los
          más bellos atardeceres antes, durante o después de la función. Además,
          nos ubicamos cerca de las playas lo que te permite ir a dar un
          relajante paseo.
        </p>
      </div>
    </div>
  </div>
</div>
