
.contenedor-inicio {
  user-select: none;
  display: table;
}

.seccion1-inicio {
  background-image: url("/assets/img/drive-in-cinema.jpg");
  background-size: cover;
  height: 595px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.s1-button {
  font-family: Hind, sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  font-size: 14px;
  border: 2px solid;
  letter-spacing: 0.3em;
  padding: 15px 40px;
  width: 200px;
}

.s1-button:focus,
.s1-button:hover {
  color: #fff;
  background-color: #101010;
  border-color: #101010;
  text-decoration: none;
  transition-duration: 0.8s;
}

.s1-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7em;
  font-size: 36px;
  color: #fff;
  z-index: 10;
}

.s1-subtitle {
  font-family: Muli, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  letter-spacing: 10px;
  font-weight: bold;
  z-index: 10;
}

.seccion2-inicio {
  height: 400px;
  display: table-cell;
  vertical-align: middle;
}

.articulo .contenedor-icon {
  margin: auto;
  font-size: 50px;
  padding: 10px 0;
}

.articulo h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 20px;
}

.articulo p {
  font-family: Muli, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: #606060;
}

.s1-button {
  text-align: center;
  font-family: Hind, sans-serif;
  font-weight: 600;
  color: #000;
  background-color: #f4a261;
  border-color: #f4a261;
  font-size: 14px;
  border: 2px solid;
  letter-spacing: 0.3em;
  padding: 10px;
  margin-right: 20px;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
