html {
  user-select: none;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

.main-container {
  min-height: 100vh;
  /* background-color: rgb(236, 236, 236); */
  background: url("/assets/img/autocine2.jpg") no-repeat;
  background-size: cover;
}

.centered-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

.card {
  width: 430px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 10;
}

.card-header {
  background-color: #fff;
}

.card-header h1 {
  color: #000;
  letter-spacing: 2px;
  font-family: "Century Gothic";
  font-weight: bold;
}

.card-header .subtitle {
  background-color: #000;
  font-family: "Century Gothic";
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: lighter;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 5px 0;
  width: 170px;
  margin: 10px auto auto;
}

.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #b6b6b6;
  transition: ease-in-out 0.3s;
  color: #b6b6b6;
  border-radius: 0;
  font-family: "Century Gothic";
  font-size: 15px;
}

.form-control:focus {
  border-bottom: 3px solid #e59a5f;
}

.forgot-pass {
  font-size: 13px;
  color: #b6b6b6;
  font-family: "Century Gothic";
}

.forgot-pass:hover {
  color: rgb(53, 110, 233);
}

.btn-login {
  background: linear-gradient(90deg, #efb68b, #e08d4d);
  color: #000;
  font-family: "Century Gothic";
  font-weight: bold;
  border: none;
  border-radius: 0;
  padding: 15px 0px;
  transition: ease-in 0.2s;
}

.card-footer {
  display: flex;
  flex-direction: row;
  vertical-align: bottom;
  font-size: 14px;
  text-align: center;
}

.card-footer span,
a {
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Century Gothic";
}

.card-footer span {
  padding-right: 0px;
  color: #858585;
  margin-left: auto;
}

.card-footer a {
  padding-left: 5px;
  color: #000;
  margin-right: auto;
  font-weight: bold;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
